.name {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .navigation {
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .intro-container {
    --s: 25vmin;
    --p: calc(var(--s) / 2);
    --c1: rgb(192, 243, 255);
    --c2: #394867;
    --c3: white;
    --bg: var(--c3);
    --d: 4000ms;
    --e: cubic-bezier(0.76, 0, 0.24, 1);
    
    background-color: var(--bg);
    background-image:
      linear-gradient(45deg, var(--c1) 25%, transparent 25%),
      linear-gradient(-45deg, var(--c1) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, var(--c2) 75%),
      linear-gradient(-45deg, transparent 75%, var(--c2) 75%);
    background-size: var(--s) var(--s);
    background-position: 
      calc(var(--p) *  1) calc(var(--p) *  0), 
      calc(var(--p) * -1) calc(var(--p) *  1), 
      calc(var(--p) *  1) calc(var(--p) * -1), 
      calc(var(--p) * -1) calc(var(--p) *  0);
    animation: 
      color var(--d) var(--e) infinite,
      position var(--d) var(--e) infinite;
    }
  .intro-text {
    font-family: "Pacifico", cursive;
    font-weight: 100;
    font-size: 6rem;
    
  }
  .about-me-text {
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    
  }

  .experience-container {
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }


  .education-container {
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    
  }
  .project-container {
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }
  .contact-container {
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }
  .direct{
    background-color: #394867;
    color: #F1F6F9;
    text-decoration:none;
  }
  .direct:hover {
    color: #F1F6F9;
    background-color: #9BA4B4;
    border-radius: 50em;
  }


  .flex-even {
    flex: 1 1 0;
  }
  .project-img {
    width: 70%; 
    border-radius: 21px 21px 0 0;
    transition: transform 0.2s;
  }
  .project-img:hover {
    transform: scale(1.2)!important;
  }
  .dark-container {
    background-color: #14274E;
    transition: 0.5s;
  }
  .light-container {
    background-color: #394867;
    transition: 0.5s;
  }
  .dark-container:hover {
    background-color: #394867;
  }
  .light-container:hover {
    background-color: #394867;
  }
  #skill {
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }
  .pill {
    text-align: center;
    background-color: #14274E;
    letter-spacing: 1px;
    color: #f8f9fa;
    padding: 10px 20px 7px;
    border-radius: 50em;
    transition: 0.5s;
  }
  .pill:hover {
    background-color: #9BA4B4;
  }
  .bg-one {
    background-color: #F1F6F9;
  }
  .bg-two {
    background-color: #14274E;
  }
  .bg-three {
    background-color: #394867;
  }
  .bg-four {
    background-color: #9BA4B4;
  }

  #return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #394867;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: #9BA4B4;
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

@keyframes color {
  0%, 25% {
    --bg: var(--c3);
  }
  26%, 50% {
    --bg: var(--c1);
  }
  51%, 75% {
    --bg: var(--c3);
  }
  76%, 100% {
    --bg: var(--c2);
  }
}

@keyframes position {
  0% {
    background-position: 
      calc(var(--p) *  1) calc(var(--p) *  0), 
      calc(var(--p) * -1) calc(var(--p) *  1), 
      calc(var(--p) *  1) calc(var(--p) * -1), 
      calc(var(--p) * -1) calc(var(--p) *  0);
  }
  25% {
    background-position: 
      calc(var(--p) *  1) calc(var(--p) *  4), 
      calc(var(--p) * -1) calc(var(--p) *  5), 
      calc(var(--p) *  1) calc(var(--p) *  3), 
      calc(var(--p) * -1) calc(var(--p) *  4);
  }
  50% {
    background-position: 
      calc(var(--p) *  3) calc(var(--p) * 8), 
      calc(var(--p) * -3) calc(var(--p) * 9), 
      calc(var(--p) *  2) calc(var(--p) * 7), 
      calc(var(--p) * -2) calc(var(--p) * 8);
  }
  75% {
    background-position: 
      calc(var(--p) *  3) calc(var(--p) * 12), 
      calc(var(--p) * -3) calc(var(--p) * 13), 
      calc(var(--p) *  2) calc(var(--p) * 11), 
      calc(var(--p) * -2) calc(var(--p) * 12);
  }
  100% {    
    background-position: 
      calc(var(--p) *  5) calc(var(--p) * 16), 
      calc(var(--p) * -5) calc(var(--p) * 17), 
      calc(var(--p) *  5) calc(var(--p) * 15), 
      calc(var(--p) * -5) calc(var(--p) * 16);
  }
}

@media (prefers-reduced-motion) {
  body {
    animation: none;
  }
}

@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #F1F6F9;
  /* overflow: hidden; */
  z-index: -1;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(203, 203, 215, 0.4);
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 72%;
  width: 191px;
  height: 191px;
  bottom: -191px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 66%;
  width: 193px;
  height: 193px;
  bottom: -193px;
  animation-delay: 5s;
}
.background li:nth-child(2) {
  left: 57%;
  width: 176px;
  height: 176px;
  bottom: -176px;
  animation-delay: 3s;
}
.background li:nth-child(3) {
  left: 20%;
  width: 188px;
  height: 188px;
  bottom: -188px;
  animation-delay: 3s;
}
.background li:nth-child(4) {
  left: 77%;
  width: 147px;
  height: 147px;
  bottom: -147px;
  animation-delay: 3s;
}
.background li:nth-child(5) {
  left: 61%;
  width: 173px;
  height: 173px;
  bottom: -173px;
  animation-delay: 21s;
}
.background li:nth-child(6) {
  left: 25%;
  width: 104px;
  height: 104px;
  bottom: -104px;
  animation-delay: 7s;
}
.background li:nth-child(7) {
  left: 0%;
  width: 165px;
  height: 165px;
  bottom: -165px;
  animation-delay: 31s;
}
.background li:nth-child(8) {
  left: 62%;
  width: 169px;
  height: 169px;
  bottom: -169px;
  animation-delay: 34s;
}
.background li:nth-child(9) {
  left: 71%;
  width: 189px;
  height: 189px;
  bottom: -189px;
  animation-delay: 39s;
}